body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .about-section {
    height: 450px;
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  h2{
      color: cyan;
  }
  p{
      color: pink;
      font-size: 25px;
  }