h1{
  margin-left: 10px;
}
div{
  margin-top: 10px;
}
img
{
    height: 200px;
    width: 200px;
    border: 3px solid cyan;
    padding: 5px;
}
h4
{
    color:#888;
    font-weight: bold;
    font-size: 30px;
}
.author
{
    color: blue;
    font-size: 20px;
}
body {
	font-family: 'Varela Round', sans-serif;
}
#uimg{
  height: 150px;
  width: 150px;
  border: none;
  border-radius: 50%;
  padding: 0%;
}
button{
  margin-left: 10px;
}
.btn-warning{
  margin-top: 10px;
}
.commentImg{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 0%;
  border: none;
  margin-left: 30px;
  margin-top: 20px;
}
.PComment{
font-size: 30px;
margin-top: 10px;
}
.commentBody{
margin-left: 30px;
}
.comment{
  height: 100px;
  width: 500px;
  margin-left: 20px;
  background-color:lightgray;
  border-radius: 30%;
}
.commentWrapper{
  margin-bottom: 20px;
}