img
{
    height: 200px;
    width: 200px;
    border: 3px solid cyan;
    padding: 5px;
}
h4
{
    color:#888;
    font-weight: bold;
    font-size: 30px;
}
.author
{
    color: blue;
    font-size: 20px;
}
body {
	font-family: 'Varela Round', sans-serif;
}
